[Unit]
Description=Control master connection to wanna-build

[Service]
Type=simple
ExecStart=/usr/bin/ssh -l wb-buildd -S buildd.debian.org.ssh buildd.debian.org -MN
WorkingDirectory=%h
Restart=always

[Install]
WantedBy=default.target
