[Unit]
Description=Debian buildd
StartLimitIntervalSec=1min
StartLimitBurst=5
Requires=buildd-ssh-master.service
After=buildd-ssh-master.service

[Service]
Type=simple
ExecStart=%h/pybuildd/buildd.py
WorkingDirectory=%h
Restart=always

[Install]
WantedBy=default.target
