[Unit]
Description=Debian buildd
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/usr/local/bin/buildd
User=buildd
Group=buildd
Restart=always
RestartSec=10
KillMode=mixed

[Install]
WantedBy=default.target
